@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');


.thronesy-text {
  font-family: Uncial Antiqua, cursive;
}

body::before {
  display: block;
  content: '';
  height: 60px;
}

.img-arts {
  height: 500px;
}

.learn-img {
  border-radius: 3.2px;
}

@media (max-width: 450px) {
  .nav-logo-title-wrapper img { 
    height: 1.7rem;
  }

  .nav-logo-title-wrapper a {
    font-size: .9rem;
  }

  .navbar-toggler-icon {
    width: .8em;
    height: 1.1em;
  }

  /* Bootstrap, why do you make me do these things? */
  #learn1 {
    padding: 3em 0em 0em 0em !important;
  }
  
  #learn2 {
    padding: 0em 0em 3em 0em !important;
  }

  #questions {
    padding: 3em 0em 3em 0em !important;
  }

  .section-2 {
    padding: 3em 1.5em 3em 1.5em !important;
  }

  }



@media screen and (min-width: 770px) and (max-width: 1020px) {
  .section-2 .card-body {
    height: 400px;
  }

  .section-2 .card-body .card-text {
    min-height: 185px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1399px) {
  #instructors .card-body {
    height: 450px;
  }

  #instructors .card-title {
    height: 70px;
    margin-bottom: none;
  }
}